<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::title}, ~{::#content})}">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{/css/output.css}" />
</head>
<body>
    <div id="content">
        <h1 class="text-center text-3xl">Welcome to home  fddfdss</h1>


        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    </div>
</body>
</html>